.hero--banner{
  height: calc(100vh - 70px);
  padding-bottom: 40px;
  @media (min-width: 768px) {
    height: 80vh;
    padding-bottom: 68px;
  }
  position: relative;
  &__mini-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: $White;
    text-transform: uppercase;
    height: 65vh;
    justify-content: space-between;
     .events-list{
       margin-top: 20px;
     }
     .events-list,
     .event-time-venue{
        margin-bottom: 0px;
        li{
          @include interpolate("font-size", 768px, 20px, 1200px, 34px, "ease-in");
          font-weight: 700;
          color: inherit;
          text-align: inherit;
          line-height: normal;
        }
     }
    .event-time-venue{
      width: 100%;
      text-align: center;
      @media (min-width: 768px){
        width: auto;
        text-align: right;
      }
      li{
        &:first-child{
          @include interpolate("font-size", 768px, 20px, 1200px, 30px, "ease-in");
        }
        &:last-child{
          color: $Black;
          font-size: 16px;
        }
      }
    }
  }
  .scroll-down{
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    text-align: center;
    @include z-index(scrolldown);
    .button{
      &--out__more{
        color: $White;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        &:after{
         @extend %arrow;
        }
      }
    }
  }
}
