@{
    ViewData["Title"] = "Sound On Festival";
    ViewData["MetaDescription"] = "Music, experiences and more | An event for 14 - 18 year old High School Students";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
