$z-index: (
  scrolldown         : 10,
  herobackground     : 40,
  menuicon           : 20,
  artistimage        : -1,
);


@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

$artist-lists: AlisonWonderland, CosmosMidnight, SamPerry, TkayMaidza, FlexMami, ArnoFaraji;

@mixin external() {
  &:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url('../image/icon-link.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
